body {
  width: 100%;
  height: 100%;
}

.title {
  color: #2487ff;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.form-container {
  background-color: #fff;
  width: 90%;
  height: 90%;
  padding-top: 30%;
  padding-bottom: 30%;
  margin: 10% auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.form {
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
}
.form__input {
  width: 76%;
  color: #263238;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: center;
  padding: 10px 20px;
  margin-left: 46px;
  margin-bottom: 27px;
}
.form__input:focus {
  border: 2px solid rgba(0, 0, 0, 0.18);
}
.form__btn {
  cursor: pointer;
  border-radius: 5em;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #2487ff, #abc7e9);
  border: 0;
  font-size: 1em;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  transition: all 0.3;
  padding: 10px 40px;
  margin-left: 35%;
}
.form__btn:hover {
  color: #2487ff;
  background: #fff;
  border: 1px solid #2487ff;
}
.form__remember {
  text-align: center;
  color: #2487ff;
  padding-top: 15px;
}

.policy {
  width: 60%;
  margin: 20% auto;
  padding: 5%;
  background: #eee;
  color: gray;
  font-family: "Noto Serif JP", serif;
  font-size: 0.9em;
}
