body {
  width: 100%;
  height: 100%;
}

.title {
  color: #24bddc;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.question {
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
}

.form-container {
  background-color: #fff;
  width: 90%;
  height: 90%;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding-top: 30%;
  padding-bottom: 30%;
  margin: 10% auto;
}

.form {
  font-family: "Ubuntu", sans-serif;
  padding-top: 40px;
}
.form__input {
  display: block;
  width: 60%;
  height: 10%;
  color: gray;
  background: #fff;
  text-align: center;
  line-height: 3em;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 1.5em;
  transition: 0.5;
  margin: 10% auto;
}
.form__input:hover {
  background: #bebebe;
  border: 1px solid #bebebe;
  color: #fff;
}
